<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sysu.yizhu">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        
        <activity android:name=".LaunchActivity"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.AppStartLoadTranslucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SignInActivity"
            android:launchMode="singleInstance">
        </activity>

        <activity android:name=".SignUpActivity"
            android:launchMode="singleInstance">
        </activity>

        <activity android:name=".ForgotPwdActivity"
            android:launchMode="singleInstance">
        </activity>

        <activity android:name=".MainActivity"
            android:launchMode="singleInstance">
        </activity>


    </application>

</manifest>
